<form class="add-blog">
    <div class="title">
        <label for="blog_title">Blog Title:</label>
        <input type="text" id="blogTitle" name="blog_title"/>
    </div>  
    <div class="desc">
        <label for="blog_description">Blog Description:</label>
        <input type="text" id="blogDescrip"name="blog_description" />
    </div>
         
    <div class="addBtn">
        <button type="submit">Add Blog</button>
    </div>
</form>

<script src="/javascript/addblog.js"></script>
